<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-Plugin"
    version="1.0.0">
    <name>Cordova Plugin for app icon change</name>
    <description>Change the application launch icon dynamically</description>
    <license>MIT</license>
    <keywords></keywords>
    <repo></repo>
    <issue></issue>

     <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <!-- This is the window variable name you want, like window.MyCordovaPlugin -->
        <clobbers target="changeappicon" />
      </js-module>
    
    <!-- android -->
    <platform name="android">
     
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="changeappicon">
          <param name="android-package" value="com.cordova.changeappicon" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <source-file src="src/android/changeappicon.java" target-dir="src/com/cordova/changeappicon"/>
	  <source-file src="src/android/Icon1.java" target-dir="src/com/cordova/changeappicon"/>
	  <source-file src="src/android/Icon2.java" target-dir="src/com/cordova/changeappicon"/>
	  <source-file src="src/android/Icon3.java" target-dir="src/com/cordova/changeappicon"/>
	  <source-file src="src/android/Icon4.java" target-dir="src/com/cordova/changeappicon"/>
	  <source-file src="src/android/Icon5.java" target-dir="src/com/cordova/changeappicon"/>
	  
	  <config-file target="AndroidManifest.xml" parent="application">
            <activity-alias
				android:name="Icon1"
				android:enabled="false"
				android:icon="@drawable/appicon1"
				android:targetActivity=".MainActivity">
				<intent-filter>
					<action android:name="android.intent.action.MAIN"/>
					<category android:name="android.intent.category.LAUNCHER"/>
				</intent-filter>
			</activity-alias>

			<activity-alias
				android:name="Icon2"
				android:enabled="false"
				android:icon="@drawable/appicon2"
				android:targetActivity=".MainActivity">
				<intent-filter>
					<action android:name="android.intent.action.MAIN"/>
					<category android:name="android.intent.category.LAUNCHER"/>
				</intent-filter>
			</activity-alias>

			<activity-alias
				android:name="Icon3"
				android:enabled="false"
				android:icon="@drawable/appicon3"
				android:targetActivity=".MainActivity">
				<intent-filter>
					<action android:name="android.intent.action.MAIN"/>
					<category android:name="android.intent.category.LAUNCHER"/>
				</intent-filter>
			</activity-alias>

			<activity-alias
				android:name="Icon4"
				android:enabled="false"
				android:icon="@drawable/appicon4"
				android:targetActivity=".MainActivity">
				<intent-filter>
					<action android:name="android.intent.action.MAIN"/>
					<category android:name="android.intent.category.LAUNCHER"/>
				</intent-filter>
			</activity-alias>

			<activity-alias
				android:name="Icon5"
				android:enabled="false"
				android:icon="@drawable/appicon5"
				android:targetActivity=".MainActivity">
				<intent-filter>
					<action android:name="android.intent.action.MAIN"/>
					<category android:name="android.intent.category.LAUNCHER"/>
				</intent-filter>
			</activity-alias>
        </config-file>

    </platform>
    
        <!-- iOS -->

    <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="changeappicon">
        <param name="ios-package" value="changeappicon" />
      </feature>
    </config-file>
    <header-file src="src/ios/changeappicon.h" />
    <source-file src="src/ios/changeappicon.m" />
	
	<config-file target="*Info.plist" parent="CFBundleIcons">
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Icon1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon1</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Icon2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon2</string>
				</array>
			</dict>
			<key>Icon3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon3</string>
				</array>
			</dict>
			<key>Icon4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon4</string>
				</array>
			</dict>
			<key>Icon5</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon5</string>
				</array>
			</dict>
		</dict>
	  </config-file>
	  
	  
	
  </platform>
</plugin>
